.queroDoarSection {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p {
        font-size: 24px;
        color: #005695; 
        text-align: center;
        width: 70%; 
    }
}

form {
    border: solid 2px #005695;
    border-radius: 20px;
    min-height: 70vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #f4f4f4;

    div {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #005695;
    }
}

input {
    width: 90%;
    height: 5vh;
    border: 2px solid #005695;
    border-radius: 15px;
    padding-left: 20px;
    font-size: 16px;

    &::placeholder {
        color: #888;
    }
}

.buttonDoar {
    width: 50%;
    height: 8vh;
    font-size: 20px;
    background-color: #005695;
    color: #fff;
    border: none; 
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    text-align: center;

    &:hover {
        background-color: #003f70;
        transition: 0.3s ease-in-out;
    }
}

@media (max-width: 780px) {
    .queroDoarSection {
        min-height: 100vh;

        p {
            font-size: 18px;
            text-align: center;
            width: 90%;
        }

        form {
            width: 90%;
            min-height: auto;
            padding: 10px;
        }
    }

    input {
        height: 6vh; 
    }

    .buttonDoar {
        width: 80%; 
        height: 6vh;
        font-size: 18px;
    }
}
